/* Part of figset module */

// Figrow/figset
div.figrow {
  margin: 0;
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
}

figure.figset {
  margin: 0 2vw 2vw; // maybe should be 0 on narrow screens
  width: fit-content;
  //? gets overridden within a row    display: inline-table;
  display: table;
  figcaption {
    display: table-caption;
    caption-side: bottom;
  }
  img { 
    max-width: 100%;
    display: table-cell;
  }
}

// figrow justify-content classes
// with corresponding caption justification
div.figrow.figrow-jccenter  { 
  justify-content: center;
  figcaption.figset-caption { text-align: center; }
}
div.figrow.figrow-jcstart   {
  justify-content: flex-start; 
  figcaption.figset-caption { text-align: start; }
}
div.figrow.figrow-jcend     { 
  justify-content: flex-end; 
  figcaption.figset-caption { text-align: end; }
}
div.figrow.figrow-jcaround  { 
  justify-content: space-around; 
  figcaption.figset-caption { text-align: center; }
}
div.figrow.figrow-jcbetween { 
  justify-content: space-between; 
  figcaption.figset-caption { text-align: center; }
}
div.figrow.figrow-jcevenly  { 
  justify-content: space-evenly; 
  figcaption.figset-caption { text-align: center; }
}

// figset align-self classes
figure.figset.figset-ascenter   { align-self: center; }
figure.figset.figset-asstretch  { align-self: stretch; }
figure.figset.figset-asbaseline { align-self: baseline; }
figure.figset.figset-asstart    { align-self: flex-start; }
figure.figset.figset-asend      { align-self: flex-end; }

// figset position classes
// Note that 'start' and 'end' versions fall back to left and right respectively.
figure.figset.figset-posstart { 
  float: left !important; 
  float: inline-start !important; 
  margin-left: 0 !important; 
  margin-inline-start: 0 !important; 
  figcaption.figset-caption {
    text-align: left !important; 
    text-align: start !important; 
  }
}
figure.figset.figset-posend { 
  float: right !important;
  float: inline-end !important;
  margin-right: 0 !important;
  margin-inline-end: 0 !important;
  figcaption.figset-caption {
    text-align: right !important; 
    text-align: end !important; 
  }
}
figure.figset.figset-poscenter {
  //display: block !important;   this causes squashed captions if figrow not set within a figrow.  Doesn't seem to be needed.
  margin-right: auto !important;
  margin-left: auto !important;
  figcaption.figset-caption {
    text-align: center !important; 
  }
}

/* Classes for testing: */
.figset-test1 {
  background: blue;
  padding: 1em;
}
.figset-test2 {
  background: green;
  padding: 1em;
}
