/* Part of figset module */

// Figrow/figset
div.figrow {
  // what's this for?
	//margin: 0 -3vw -3vw;
	//figure {
	//	margin: 0 3vw 3vw;
	//}
  margin: 0;
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  figure { display: table; }
  img { display: table-cell; }
  figcaption { display: table-caption; caption-side: bottom; }
}
/* wrong:
.figrow-align-center { align-items: center }
.figrow-align-stretch { align-items: stretch }
.figrow-align-default { align-items: center } // default
*/

figure.figset {
  margin: 0 2vw 2vw; // maybe should be 0 on narrow screens
  //? gets overridden within a row    display: inline-table;
  figcaption {
    //display: table-cell;
    caption-side: bottom;
  }
  img { max-width: 100% }
}

/* Classes for testing: */
.figset-test1 {
  background: blue;
  padding: 1em;
}
.figset-test2 {
  background: green;
  padding: 1em;
}
