/* Part of figset module */

// Figrow/figset
div.figrow {
  // what's this for?
	//margin: 0 -3vw -3vw;
	//figure {
	//	margin: 0 3vw 3vw;
	//}
  margin: 0;
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap;
  figure { display: table; }
  img { display: table-cell; }
  figcaption { display: table-caption; caption-side: bottom; }
}

figure.figset {
  margin: 0 2vw 2vw; // maybe should be 0 on narrow screens
  width: fit-content;
  //? gets overridden within a row    display: inline-table;
  figcaption {
    //display: table-cell;
    caption-side: bottom;
  }
  img { max-width: 100% }
}

// figrow justify-content classes
div.figrow.figrow-jccenter  { justify-content: center; }
div.figrow.figrow-jcstart   { justify-content: flex-start; }
div.figrow.figrow-jcend     { justify-content: flex-end; }
div.figrow.figrow-jcaround  { justify-content: space-around; }
div.figrow.figrow-jcbetween { justify-content: space-between; }
div.figrow.figrow-jcevenly  { justify-content: space-evenly; }

// figset align-self classes
figure.figset.figset-ascenter   { align-self: center }
figure.figset.figset-asstretch  { align-self: stretch }
figure.figset.figset-asbaseline { align-self: baseline }
figure.figset.figset-asstart    { align-self: flex-start }
figure.figset.figset-asend      { align-self: flex-end }

/* Classes for testing: */
.figset-test1 {
  background: blue;
  padding: 1em;
}
.figset-test2 {
  background: green;
  padding: 1em;
}
