{{/*

  figrow partial
  FAIL -- can't nest partials like shortcodes

  args (in the dict/context):
      height 
      gallery

  TODO:
  - align-items options as valign
  - justify-contents options as halign

*/}}

{{/* All the figsets will be in the .Inner WRONG, this is not a g*/}}
{{/* if .cdinner */}}
is this used?
  <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; ">
  cdinner: {{ .cdinner }}
  </div>
  <div clear=both></div>
{{/* end */}}
