{{/*

  figrow partial

  TODO:
  * 'wrap' param -- to pass to lightbox.
  * maybe: use another <figure> around the whole row -- see https://html.spec.whatwg.org/multipage/grouping-content.html#the-figure-element
  * redo justify and align as classes (figrow-center etc.) rather than directly using user-specified strings as CSS.

  Can be called directly, or via the figrow shortcode.
  Note that the shortcode can put more things in the dict to be accessed
  from the figset shortcode: this doesn't work when using the partials directly,
  so common values, e.g. gallery or size, have to be in each invocation of figset.

  Parameters (in the dict/context) -- accept variations on the CSS values:
    * justify-content - values as for CSS's justify-content
      - left -- implies caption to left \
      - right -- caption to right        > caption aligment becomes default for capalign argument to figset.
      - others -- caption centred       / 
    * align-items - values as for CSS's align-items
      - center or baseline are probably best with captions ; flex-start (aka top) is good too.
      - flex-end (bottom) with captions makes the bottoms of the images uneven -- use baseline instead.
      - stretch moves the caption away from the image-- least desirable
  Other parameters supplied by the figrow shortcode are accessed by the 
  figset shortcode via its .Parent.  They are not error-checked here.

  If from another template (rather than via shortcodes), do this: 
  (not use of .figrow to tell figset that it's in a row)
    {{ partial "figrow_start.html" (dict  "page" .Page  "justify-contents" center  "align-items" "top"  "size"  "small"  ...) }}
    {{ partial "figset.html"       (dict  "page" .Page  "figrow" true  "gallery" "foo"  "name" "image1.jpg"  "caption" "a photo"  ...)   }}
    {{ partial "figset.html"       (dict  "page" .Page  "figrow" true  "gallery" "foo"  "name" "image2.jpg"  "caption" "another photo"  ...) }}
    {{ partial "figrow_end.html"   (dict  "page" .Page) }}

*/}}

{{ $justify := .justify }}
{{ $align   := .align   }}

{{/* Parameters and defaults NO -- see above */}}
{{/* 
{{ $justify := lower .justify | default "space-around" }}
{{ $valign  := lower .align  | default "flex-start" }}

{{ $justify2 := $justify }}
{{ if hasPrefix $justify "flex-" }}
  {{ $justify2 = substr $justify 5 }}
{{ else if hasPrefix $justify "space-" }}
  {{ $justify2 = substr $justify 6 }}
{{ end }}
{{ if or (hasPrefix "left" $justify2) (hasPrefix "start" $justify2) }}
  {{ $justify2 = "start" }}  
{{ else if or (hasPrefix "right" $justify2) (hasPrefix "end" $justify2) }}
  {{ $justify2 = "end" }}  
{{ else if or (hasPrefix "centre" $justify2) (hasPrefix "centre" $justify2) }}
  {{ $justify2 = "center" }}
{{ else if (hasPrefix "around" $justify2) }}
  {{ $justify2 = "space-around" }}
{{ else if (hasPrefix "between" $justify2) }}
  {{ $justify2 = "space-between" }}
{{ else if (hasPrefix "evenly" $justify2) }}
  {{ $justify2 = "space-evenly" }}
{{ else }}
  {{ warnf "figrow: invalid justify value '%s'; using 'center'" $justify }}
  {{ $justify2 = "center" }}
{{ end }}

{{ $valign2 := $valign }}
*/}}

<p clear=both>> figrow_start: justify="{{ $justify }}" align="{{ $align }}"</p>

{{/* TODO could do this the bootstrap way e.g. d-flex */}}
{{/* NOTE Don't use safeCSS here because it isn't (because we haven't validated it) -- Hugo will replace naughty CSS values with ZgotmplZ */}}
<div class=figrow style="margin: 0; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: {{ $justify }}; align-items: {{ $align }}; ">

{{/* The end of the div is in partials/figrow_end.html */}}
