{{/* figrow.html -- shortcode for grouping figsets into a row 
  height - in CSS units, if any.  Doesn't work well with captions  TODO
  gallery - name of a gallery -- unique on the page.  If omitted, there'll be no gallery effect
  - both are used in the contained figset shortcode, not here.
  NOTE Other figset options can be set for figrow and will be used in figset
*/}}


{{/* Get parameters and apply defaults */}}
{{ $gallery := .Get "gallery" | default "" }}
{{ $height  := .Get "height"  | default "" }}
{{ $justify := .Get "justify" | default "space-around" }}
{{ $valign  := .Get "valign"  | default "flex-start" }}

{{ partial "figrow_start.html" (dict  "page" .Page  "gallery" $gallery  "height" $height  "justify" $justify  "valign" $valign  ) }}
  {{ with .Inner }}{{ . }}{{ end }}
{{ partial "figrow_end.html"   (dict  "page" .Page ) }}

