{{/*
  figset shortcode, version of figure with srcsetting,
  via the similar partial.

  args:
    name (of image within the page bundle)
    position - left, right, centre...
    size - small, medium, large, full  TODO other sizes  FIXME hook into bootstrap sizing
    height - height of image -- overrides size, probably in pixels, for making all figures in a row the same height
    maxwidth -- biggest size used for srcset in pixels
    size2 - like size, but presumably bigger -- to expand image
    title
    caption
    alt
    url -- url to link to -- on second click if galleried...
    gallery - name of gallery -- just has to be the same on a group of figures to make them a gallery - implies lightbox
    lightbox - anything truthy to add lightbox effect without making it a gallery

  e.g.  {{< figset name="barnowl.jpg" caption="Owl on a post" alt="photo" >}}

*/}}

{{/* Get parameters, either from the enclosing figrow, or from this figset shortcode. */}}
{{/* (Default values will be applied in the partial) */}}
{{/* Set $p to the parent (if it's a figrow), or else this context */}}
{{ $p := . }}
{{ $figrow := false }}
{{ if .Parent }}
  {{ if eq .Parent.Name "figrow" }}
    {{ $p = .Parent }}
    {{ $figrow = true }}
  {{ end }}
{{ end }}
{{ $name     := .Get "name"     | default ($p.Get "name")     }}
{{ $position := .Get "position" | default ($p.Get "position") }}
{{ $size     := .Get "size"     | default ($p.Get "size")     }}
{{ $height   := .Get "height"   | default ($p.Get "height")   }}
{{ $maxwidth := .Get "maxwidth" | default ($p.Get "maxwidth") }}
{{ $selfsize := .Get "selfsize" | default ($p.Get "selfsize") }}
{{ $title    := .Get "title"    | default ($p.Get "title")    }}
{{ $caption  := .Get "caption"  | default ($p.Get "caption")  }}
{{ $alt      := .Get "alt"      | default ($p.Get "alt")      }}
{{ $url      := .Get "url"      | default ($p.Get "url")      }}
{{ $gallery  := .Get "gallery"  | default ($p.Get "gallery")  }}
{{ $lightbox := .Get "lightbox" | default ($p.Get "lightbox") }}

{{ partial "figset.html" (dict "page" .Page   "name" $name  "position" $position  "size" $size  "height" $height  "maxwidth" $maxwidth  "selfsize" $selfsize  "title" $title  "caption" $caption  "alt" $alt  "url" $url  "gallery" $gallery  "lightbox" $lightbox  "figrow" $figrow ) }}

